@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;

  /* --color-primary-hover: #02808e; */
  --breakpoint-lg: 1200px;
}

/* Define theme extensions */
@theme {
  --color-primary-hover: #02808e;
  /* --color-secondary: "#ffff" */
  --color-secondary: #0a0a0a;
  --color-primary: #990100;
  --color-background: linear-gradient(
    135deg,
    #990100 0%,
    #4b0000 50%,
    #ff1a1a 100%
  );

  --color-gradient: linear-gradient(90deg, #990100 0%, #930100 100%);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* Global styles */
body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: "Roboto Condensed", sans-serif;
  height: 100vh;
  overflow-x: hidden;
}

/* Responsive navigation */
.nav {
  display: flex;
  flex-direction: column;
  background-color: #0a0a0a;
}
